# tesing files
test.js

# dependency directories
node_modules
jspm_packages

# python
TODO.md
*.pyc
__pycache__

# configs for parallel runs
input/configs/*
!input/configs/.gitkeep

# outputs and exports
outputs/*
!outputs/.gitkeep
exports/*.db
exports/*.csv
!exports/.gitkeep

# logs
logs/*
!logs/.gitkeep

# local configuration file
local.config.yaml
package-lock.json